<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siltumtilti</title>
    <link rel="stylesheet" href="./assets/css/output.css">
</head>

<body class="flex flex-col justify-between">
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <!-- End of mobile navbar -->


    <div>
        <!-- hero -->
        {% include 'hero.html' %}
        <!-- end of hero -->

        <!-- section 1 UZNEMUMS -->
        {% include 'sec_1_uznemums.html' %}
        <!-- end of section 1 -->

        <!-- Section 2 MATERIALS -->
        {% include 'sec_2_materials.html' %}
        <!-- End of section 2 -->

        <!-- Section 3 PROPERTIES -->
        {% include 'sec_3_properties.html' %}
        <!-- End of section 3 -->

        <!-- Section 4 RECYCLED -->
        {% include 'sec_4_recycled.html' %}
        <!-- End of Section 4 -->

        <!-- Section 5 MATERIALU KLASES -->
        {% include 'sec_5_classes.html' %}
        <!-- End of Section 5 -->

        <!-- Section 6 Forma un izmers -->
        {% include 'sec_6_form.html' %}
        <!-- End of Section 6 -->

        <!-- Section 7 klima konform -->
        {% include 'sec_7_konform.html' %}
        <!-- end of section 7 -->

        <!-- section 8 logu montaza -->
        {% include 'sec_8_logu_montaza.html' %}
        <!-- end of section 8 -->

    </div>

    {% include 'footer.html' %}

    <script>
        const mobile_menu = document.getElementById("mobile_menu");
        const menu_toggle = () => {
            mobile_menu.classList.toggle("hidden");
        }


    </script>

</body>

</html>