<div class="bg-[#274e74]">
    <h1 id="materials" class="text-center pt-6 text-2xl font-bold text-white">Pārstrādāts materiāls</h1>
    <div
        class="grid grid-cols-1 justify-center sm:grid-cols-3 gap-4 sm:px-[2rem] lg:px-[10rem] xl:px-12rem px-6 py-6 text-white">

        <div class="text-lg sm:col-span-2">
            <h1 class="font-bold text-2xl">COMPACFOAM kļūst par COMPACFOAM eco</h1>
            <p class="pb-2">Mēs varam pārstrādāt 100% COMPACFOAM atkritumu, izmantojot nesen izstrādātu procesu, ko sauc
                par daļiņu tehnoloģiju. CF eco, kas ir šī procesa rezultāts, piemīt tikpat izcilas īpašības kā
                COMPACFOAM: augsta izturība un izcila siltumizolācija.
            </p>

            <p class="py-2">
                Nesajauktus atkritumus klienti var nodot atpakaļ ražotājam.
                Tas padara COMPACFOAM eco par īpaši ilgtspējīgu produktu.
                Turklāt klientam nerodas parastās utilizācijas izmaksas.</p>

        </div>

        <div>
            <img class="rounded col-span-1 shadow" src="./assets/img/heros/recycled.jpg" alt="">
        </div>
    </div>

    <div class="flex justify-center items-center gap-4 py-6 mx-auto bg-white">
        <div class="max-w-[10rem] md:max-w[100px]">
            <img class="" src="./assets/img/tables/dgnb_logo.png" alt="">
        </div>
        <div class="">
            <p class="text-sm">
                COMPACFOAM un<br>
                COMPACFOAM eco<br>
                ir iekļauts DGNB<br>
                sarakstā.</p>
        </div>
    </div>

    <div class="grid grid-cols-3 md:grid-cols-6 px-6 py-6 gap-4 text-white text-xs">
        <div class="flex flex-col justify-end">
            <div class="text-center py-2">
                <span>PLASTISKS</span>
            </div>
            <img class="rounded shadow-md" src="./assets/img/icons/7.jpg" alt="">
        </div>
    
        <div class="flex flex-col justify-end">
            <div class="text-center py-2">
                <span>DIFŪZIJAI ATVĒRTS</span>
            </div>
            <img class="rounded shadow-md" src="./assets/img/icons/8.jpg" alt="">
        </div>
    
        <div class="flex flex-col justify-end">
            <div class="text-center py-2">
                <span>AUGSTA SPIEDES STIPRĪBA</span>
            </div>
            <img class="rounded shadow-md" src="./assets/img/icons/9.jpg" alt="">
        </div>
    
        <div class="flex flex-col justify-end">
            <div class="text-center py-2">
                <span>MAZS SVARS</span>
            </div>
            <img class="rounded shadow-md" src="./assets/img/icons/10.jpg" alt="">
        </div>
    
        <div class="flex flex-col justify-end">
            <div class="text-center py-2">
                <span>BEZ BIOCĪDIEM</span>
            </div>
            <img class="rounded shadow-md" src="./assets/img/icons/11.jpg" alt="">
        </div>
    
        <div class="flex flex-col justify-end">
            <div class="text-center py-2">
                <span>PĀRSTRĀDĀJAMS</span>
            </div>
            <img class="rounded shadow-md" src="./assets/img/icons/12.jpg" alt="">
        </div>
    
    </div>

</div>