<div class="grid grid-cols-3 md:grid-cols-6 px-6 py-20 gap-4 text-xs">
    <div class="flex flex-col justify-end">
        <div class="text-center py-2">
            <span>SKRŪVĒJAMS</span>
        </div>
        <img class="rounded shadow-md" src="./assets/img/icons/1.jpg" alt="">
    </div>

    <div class="flex flex-col justify-end">
        <div class="text-center py-2">
            <span>IZCILA SILTUMIZOLĀCIJA</span>
        </div>
        <img class="rounded shadow-md" src="./assets/img/icons/2.jpg" alt="">
    </div>

    <div class="flex flex-col justify-end">
        <div class="text-center py-2">
            <span>STABILS PRET KLIMATA PĀRMAIŅĀM</span>
        </div>
        <img class="rounded shadow-md" src="./assets/img/icons/3.jpg" alt="">
    </div>

    <div class="flex flex-col justify-end">
        <div class="text-center py-2">
            <span>ILGTERMIŅA STABILITĀTE</span>
        </div>
        <img class="rounded shadow-md" src="./assets/img/icons/4.jpg" alt="">
    </div>

    <div class="flex flex-col justify-end">
        <div class="text-center py-2">
            <span>SALIZTURĪGS</span>
        </div>
        <img class="rounded shadow-md" src="./assets/img/icons/5.jpg" alt="">
    </div>

    <div class="flex flex-col justify-end">
        <div class="text-center py-2">
            <span>IZOTROPISKS</span>
        </div>
        <img class="rounded shadow-md" src="./assets/img/icons/6.jpg" alt="">
    </div>

</div>