<div class="flex flex-col px-6 py-20 text-[#274e74]">
  <div>
    <h1 id="materials" class="text-center pt-8 font-medium text-2xl pb-4">
      KLIMA KONFORM SYSTEM 2.0 (VORWANDMONTAGE)
    </h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 pt-8">
    <div class="flex flex-row sm:flex-col col-span-1">
      <div class="mx-auto">
        <img
          class="max-h-[300px]"
          src="assets/img/heros/konform_1.jpg"
          alt=""
        />
      </div>

      <div class="mx-auto">
        <img
          class="max-h-[300px]"
          src="assets/img/heros/konform_2.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="flex flex-col gap-4 col-span-2">
      <div>
        <p class="font-light">
          Pēdējos gados visā Eiropā tika pastiprināti Energoefektivitātes
          noteikumi, lai vēl vairāk optimizētu energoefektivitāti visās ēkas
          daļās. Diemžēl tas arī projektētājiem, arhitektiem un būvuzņēmējiem
          radīja lielas problēmas.
        </p>
      </div>
      <div>
        <p class="font-light">
          Piemēram, montāžas ekspertiem ir jāpiedāvā optimizēti montāžas
          varianti ar inovatīviem risinājumiem, kas ne tikai atbilst visiem
          noteikumiem, bet arī labi darbojas praksē.
        </p>
      </div>
      <div>
        <p class="font-light">
          Jums kā montāžas speciālistam ir pieejami trīs pievilcīgi priekšējo
          sienu montāžas varianti (standarta montāža, montāža no ārpuses un
          montāža no apakškrāmja), kas ir ne tikai pietiekami daudzpusīgi, lai
          piedāvātu individuālus risinājumus, bet arī ātri un viegli uzstādāmi.
        </p>
      </div>

      <div class="flex gap-4 items-center">
        <div>
          <img
            class="max-h-[100px] min-h-[50px]"
            src="assets/img/heros/ift.jpg"
            alt=""
          />
        </div>
        <div class="font-light">
          KLIMA KONFORM SYSTEM 2.0 sastāv tikai no 4 sastāvdaļām, ir paredzēta
          universālai lietošanai un ir izturējusi ift Rosenheim pārbaudi.
        </div>
      </div>

      <div>
        <div>
          <div
            class="grid grid-cols-3 md:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8 gap-4 font-light text-sm"
          >
            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">
                Pretkritiena<br />stiprinājums<br />saskaņā ar<br />ET<br />2,8
                kN
              </p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">līdz RC2 izturība pret ielaušanos</p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">līdz 64 dB kopējais troksnis</p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">Piemērots uzstādīšanai bez siltumnoplūdes</p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">B1 ugunsdzēsības klase</p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">W/mK 0,04 siltumvadītspēja</p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">4. klase svārsta trieciena tests</p>
            </div>

            <div
              class="bg-slate-200 rounded aspect-square grid place-content-center text-center"
            >
              <p class="px-4">līdz 3,000 Pa spiediens un iesūkšana</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- images -->

<div class="flex justify-center gap-4 pt-20">
    <div>
        <img class="max-h-[200px]" src="/assets/img/heros/konform_3.jpg" alt="" />
    </div>
    <div>
        <img class="max-h-[200px]" src="/assets/img/heros/konform_3.jpg" alt="" />
    </div>

</div>

  <!-- 
<div class="flex">
    <img src="/assets/img/heros/konform_2.jpg" alt="" />
  </div>
  <div class="flex">
      <p class="font-light pb-4">
          Iepriekšējā standarta logu uzstādīšana
        </p>
    <img src="/assets/img/heros/konform_3.jpg" alt="" />
  </div class="flex">
  <div>
      <p class="font-light pb-4">
          KLIMA KONFORM SYSTEM 2.0 logu montāža izolācijas slānī (PVC logs)
        </p>
    <img src="/assets/img/heros/konform_3.jpg" alt="" />
  </div>
</div> -->
</div>
