<div class="bg-slate-100 text-[#274e74]">
  <div class="flex flex-col text-[#274e74] p-6 max-w-4xl mx-auto gap-4">
    <div>APSTRĀDES NORĀDĪJUMI</div>
    <ul>
      <li>Klima Konform System 2.0 stiprināšana</li>
      <li>
        MS polimēru līme tiek uzklāta visā Klima Konform 2.0 profilu garumā.
      </li>
      <li>
        Pēc tam tos piestiprina pie sienas un pieskrūvē ar 7,5 mm loga rāmja
        skrūvēm ar plakanu galvu.
      </li>
      <li>
        Skrūvju garums ir atkarīgs no minimālā ieskrūvēšanas dziļuma sienā.
      </li>
    </ul>

    <div class="flex flex-col md:flex-row justify-center gap-4">
      <div class="flex-row">
        <div><img class="mx-auto" src="/assets/img/heros/w1.png" alt="" /></div>
      </div>

      <div class="flex-row md:flex-col sm:w-1/2">
        <div><img class="mx-auto" src="/assets/img/heros/w2.png" alt="" /></div>
        <div class="flex flex-col gap-4">
          <div>Stiprināšanas attālumi:</div>
          <div>
            A: Attālums starp enkuriem Plastmasas logi, maks. 700 mm Koka,
            koka/alumīnija un alumīnija logi, maks. 700 mm
          </div>
          <div>
            E: Attālums no rāmja iekšējā stūra, kā arī stieņiem un skrūvēm no
            profila iekšpuses; 100–150 mm.
          </div>
          <div class="flex flex-col py-4 gap-2">
            <div>Stiprināšanas punkts –</div>
            <div class="flex gap-2 items-center">
              <div class="min-w-10">
                <img src="/assets/img/heros/path3154.png" alt="" />
              </div>
              <div>
                Loga rāmja nostiprināšana Klima Konform 2.0 profilā ar 7,5 mm
                loga rāmja skrūvi
              </div>
            </div>
            <div class="flex gap-2 items-center">
              <div class="min-w-10">
                <img src="/assets/img/heros/path3147.png" alt="" />
              </div>
              <div>
                Klima Konform 2.0 profila piestiprināšana sienai ar 7–5 mm loga
                rāmja skrūvi Abas loga rāmja skrūves tiek novietotas vienā
                līmenī (+/- 50 mm).
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="px-6 max-w-4xl mx-auto">
    <hr class= "border-black">
    <div>
        Turpmākās darbības ir atkarīgas no elementa svara un Klima Konform System 2.0 profila:
    </div>

    <div class="flex justify-center gap-8 py-4">
        <div class="flex flex-col">
          <div>Izpilde ❶
            <br/>Elementa svars < 87,7 kg
            <br/>Slodze uz vienu stiprinājuma punktu < 0,43 kN</div>
          <div><img class="h-60" src="/assets/img/heros/w3.png" alt="">
          </div>
        </div>
        <div class="flex flex-col">
          <div>Izpilde ❷<br/>
            1 papildu stiprinājuma punkts<br/>
            Elementa svars < 175,4 kg<br/>
            Slodze uz vienu stiprinājuma punktu < 0,86 kN</div>
          <div><img class="h-60" src="/assets/img/heros/w4.png" alt=""></div>
        </div>
        <div class="flex flex-col">
          <div>Izpilde ❸<br/>
            2 papildu stiprinājuma punkti<br/>
            Elementa svars < 263,1 kg<br/>
            Slodze uz vienu stiprinājuma punktu < 1,23 kN</div>
          <div><img class="h-60" src="/assets/img/heros/w5.png" alt=""></div>
        </div>
      </div>
      <div>
        Kronšteins (3. darbība) jānoregulē no Klima Konform 2.0 profila pārkares > 100 mm (ZM sistēma). Atsevišķas nesošās slodzes stiprinājuma punktos var aprēķināt, izmantojot COMPACFOAM stiprināšanas kalkulatoru. Informācija vietnē www.compacfoam.com
      </div>
  </div>
  
  
</div>
