<section id="produkcija" class="py-20 text-[#274e74]">
  <div class="flex flex-col p-6 max-w-4xl mx-auto">
  <div>
    <h1 id="materials" class="text-center pt-8 font-medium text-2xl pb-4">
      KLIMA KONFORM SYSTEM 2.0 (VORWANDMONTAGE)
    </h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 pt-8">
    <div class="flex flex-row sm:flex-col col-span-1">
      <div class="mx-auto">
        <img
          class="max-h-[300px]"
          src="assets/img/heros/konform_1.jpg"
          alt=""
        />
      </div>

      <div class="mx-auto">
        <img
          class="max-h-[300px]"
          src="assets/img/heros/konform_2.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="flex flex-col gap-4 col-span-2">
      <div>
        <p class="font-light">
          Pēdējos gados visā Eiropā tika pastiprināti Energoefektivitātes
          noteikumi, lai vēl vairāk optimizētu energoefektivitāti visās ēkas
          daļās. Diemžēl tas arī projektētājiem, arhitektiem un būvuzņēmējiem
          radīja lielas problēmas.
        </p>
      </div>
      <div>
        <p class="font-light">
          Piemēram, montāžas ekspertiem ir jāpiedāvā optimizēti montāžas
          varianti ar inovatīviem risinājumiem, kas ne tikai atbilst visiem
          noteikumiem, bet arī labi darbojas praksē.
        </p>
      </div>
      <div>
        <p class="font-light">
          Jums kā montāžas speciālistam ir pieejami trīs pievilcīgi priekšējo
          sienu montāžas varianti (standarta montāža, montāža no ārpuses un
          montāža no apakškrāmja), kas ir ne tikai pietiekami daudzpusīgi, lai
          piedāvātu individuālus risinājumus, bet arī ātri un viegli uzstādāmi.
        </p>
      </div>

      <div class="flex gap-4 items-center">
        <div>
          <img
            class="max-w-16"
            src="assets/img/heros/ift.jpg"
            alt=""
          />
        </div>
        <div class="font-light">
          KLIMA KONFORM SYSTEM 2.0 sastāv tikai no 4 sastāvdaļām, ir paredzēta
          universālai lietošanai un ir izturējusi ift Rosenheim pārbaudi.
        </div>
      </div>

      <div class="grid grid-cols-2 sm-grid-cols-3 lg:grid-cols-4 gap-4 items-center">
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">Pretkritiena stiprinājums saskaņā ar ETB 2,8 kN</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz RC2 izturība pret ielaušanos</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz 64 dB kopējais troksnis</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz 64 dB kopējais troksnis</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz 64 dB kopējais troksnis</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz 64 dB kopējais troksnis</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz 64 dB kopējais troksnis</div>
        <div class="bg-slate-400 text-center text-white rounded aspect-square grid place-items-center p-4 shadow-lg">līdz 64 dB kopējais troksnis</div>
      </div>

    </div>
  </div>

  <!-- images -->


<div class="flex items-end max-w-xl mx-auto gap-4 text-center pt-12">
  <div class="flex flex-col w-1/2">
    <div>Iepriekšējā standarta logu uzstādīšana
    </div>
    <div><img class="rounded" src="/assets/img/heros/konform_3.jpg" alt="" /></div>
  </div>

  <div class="flex flex-col w-1/2">
    <div>KLIMA KONFORM SYSTEM 2.0 logu montāža izolācijas slānī (PVC logs)</div>
    <div><img class="rounded" src="/assets/img/heros/konform_4b.jpg" alt="" /></div>
</div>


  <!-- <div class="max-w-xl mx-auto flex gap-4 justify-between py-20">
    <div class="flex flex-col">
      <div><p class="text-center">Iepriekšējā standarta logu uzstādīšana</p>
      </div>
      <div>
      <img class="max-h-48" src="/assets/img/heros/konform_3.jpg" alt="" /></div>
    </div>
    <div class="flex flex-col">
      <div><p class="text-center">KLIMA KONFORM SYSTEM 2.0 logu montāža izolācijas slānī (PVC logs)</p>
      </div>
      <div>
      <img class="max-h-48" src="/assets/img/heros/konform_4b.jpg" alt="" /></div>
    </div> -->



    
  </div>


</div>
</section>

</div>
