<div class="flex flex-col px-6 py-6 text-[#274e74]">
    <div>
        <h1 id="materials" class="text-2xl font-bold">COMPACFOAM ir pieejams dažādās materiālu klasēs</h1>
        <p class="pb-2">CF materiālu klases galvenokārt atšķiras pēc spiedes stiprības, siltumvadītspējas un skrūvju
            noturības. Lai noteiktu optimālo materiālu klasi nepieciešamajam lietojumam, izmantojiet zemāk redzamo
            tabulu.
        </p>
    </div>

    <div>


        <div class="relative overflow-x-auto shadow-md sm:rounded-lg pt-4">
            <table class="table-auto border w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase text-center">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                        </th>
                        <th scope="col" class="px-6 py-3">
                            A
                        </th>
                        <th scope="col" class="px-6 py-3">
                            A
                        </th>
                        <th scope="col" class="px-6 py-3">
                            B
                        </th>
                        <th scope="col" class="px-6 py-3">
                            C
                        </th>
                        <th scope="col" class="px-6 py-3">
                            D
                        </th>
                        <th scope="col" class="px-6 py-3">
                            E
                        </th>
                        <th scope="col" class="px-6 py-3">
                            F
                        </th>
                        <th scope="col" class="px-6 py-3">
                            G
                        </th>
                        <th scope="col" class="px-6 py-3">
                            H
                        </th>
                        <th scope="col" class="px-6 py-3">
                            I
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-2">
                            Materiālu klase
                        </th>
                        <th scope="col" class="px-2 py-2">
                            fc(ε=5,0%)
                            [N/mm2]
                        </th>
                        <th scope="col" class="px-2 py-2">
                            fc(ε=2,0%)
                            [N/mm2]
                        </th>
                        <th scope="col" class="px-2 py-2">
                            E-modulis
                            [N/mm2]
                        </th>
                        <th scope="col" class="px-2 py-2">
                            σzul
                            [N/mm2]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            λ
                            [W/mK]
                        </th>
                        <th scope="col" class="px-6 py-3">
                            E
                        </th>
                        <th scope="col" class="px-6 py-3">
                            F
                        </th>
                        <th scope="col" class="px-6 py-3">
                            G
                        </th>
                        <th scope="col" class="px-6 py-3">
                            H
                        </th>
                        <th scope="col" class="px-6 py-3">
                            I
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b hover:scale-[101%] transition duration-200">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowraptext-white">
                            Apple MacBook Pro 17"
                        </th>
                        <td class="px-6 py-4">
                            Silver
                        </td>
                        <td class="px-6 py-4">
                            Laptop
                        </td>
                        <td class="px-6 py-4">
                            $2999
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>


</div>