<div class="bg-[#274e74] text-white font-light">
    <div class="py-20 px-6 max-w-4xl mx-auto">
        <h2>OPTIMĀLA LOGU UZSTĀDĪŠANA</h2>
        <hr>
        <div class="flex sm:flex-row flex-col justify-between gap-4">
            <div>
                <img src="assets/img/heros/vorwand_1.jpg" alt="">
            </div>
            <div>
                <p class="py-2">Klima Konform System 2.0 ļauj logu blokus uzstādīt tieši izolācijas slānī. Tāpēc ir
                    iespējami stiprinājumi bez siltumnoplūdes barjeras.</p>

                Sistēmas funkcijas
                <ul>
                    <li>Viegla montāža</li>
                    <li>Vienkārša profilu griešana</li>
                    <li>Tikai dažas sastāvdaļas</li>
                    <li>3 varianti ar dažādām blīvēšanas iespējām</li>
                    <li>Montāža pēc plānotāja/uzstādītāja izvēles vai pieprasījuma.(standarta, no ārpuses un apakšrāmja)
                    </li>
                    <li>Vieglie materiāli</li>
                    <li>Iespējama iepriekšēja izgatavošana karkasa veidā</li>
                    <li>Ātra loga uzstādīšana, jo nav nepieciešama iepriekšēja urbšana</li>
                    <li>Iespējama vēlāka logu nomaiņa bez apmešanas (apakšrāmja montāža)</li>
                    <li>Iespējamas plašas pārkares</li>
                    <li>Piemērots pretkritiena elementu (ETB) stiprināšana</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="flex sm:flex-row flex-col gap-4">
            <div class="flex flex-col">
                <div>Sānu griezums</div>
                <div><img src="assets/img/heros/vorwand_2.jpg" alt=""></div>
                
            </div>
            <div class="flex flex-col">
                <div>apakšdaļas griezums</div>
                <div><img src="assets/img/heros/vorwand_3.jpg" alt=""></div>

                <div class=" py-4">
                <div class="flex gap-2 items-center py-1">
                    <div class="h-6 w-6 bg-orange-700 rounded grid place-items-center"><div>1</div></div>
                    <div>Klima Konform System 2.0 profils</div>
                </div>
                <div class="flex gap-2 items-center py-1">
                    <div class="h-6 w-6 bg-black rounded grid place-items-center"><div>2</div></div>
                    <div>MS polimēru līme, balta</div>
                </div>
                <div class="flex gap-2 items-center py-1">
                    <div class="h-6 w-6 bg-black rounded grid place-items-center"><div>3</div></div>
                    <div>Loga rāmja skrūve FK</div>
                </div>
                <div class="flex gap-2 items-center py-1">
                    <div class="h-6 w-6 bg-black rounded grid place-items-center"><div>4</div></div>
                    <div>Loga rāmja skrūve ZK</div>
                </div>
                <div class="flex gap-2 items-center py-1">
                    <div class="h-6 w-6 bg-green-700 rounded grid place-items-center"><div>A</div></div>
                    <div>Blīvēšana pēc pašreizējā tehnoloģiju stāvokļa</div>
                </div>
            </div>
                
                
            </div>

    </div>
</div>